<!doctype html>
<html lang="en">
<link rel="stylesheet" type="text/html" href="/public/css/style.css">

<% include parts/header.ejs %>

  <body>
    <% include parts/menu.ejs %>
      <div class="container">
        <h1>Liste des stations de la ligne : <%= line.name %></h1>


        <% line.stations.forEach(function (station) { %>
          <%= station.name %><span id="station-<%= station.id %>"></span><br>
            <% })%>
              <style>
                .metro {
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  border-radius: 50%;
                  height: 50px;
                  width: 50px;
                  background-color: red;
                  text-align: center;
                  display: block;
                  line-height: 50px;
                  position: absolute;
                  left: 0;
                  -webkit-transition: left 10s;
                  -moz-transition: left 1s;
                  -ms-transition: left 1s;
                  -o-transition: left 1s;
                  transition: left 1s;
                }
              </style>

              <div class="menu">
                <button id="start" type="button" class="btn btn-success">Démarer</button>
              </div>

              <div class="mt-5">

                <div id="jauge" class="c100 small">
                  <span><span id="speed"></span> Km/h</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>
                Dist : <span id="distance"></span> m Dist : <span id="distance-p"></span> %
              </div>
      </div>

      <div class="progress-container">
        <ul>
          <div class="namemetro">Station : <span id="currStation"></span></div>
          <li class="buttonmetro"></li>
          <div class="namemetrotwo">Prochaine Station : <span id="nextStation"></span></div>
          <li class="buttonmetrotwo"></li>
        </ul>
        <div class="progress-bar"></div>
      </div>
      <!-- <div class="progress-bar"></div> -->

      <% include parts/footer.ejs %>

  </body>

</html>

<script>
  var socket = io('http://localhost:8080');
  socket.on('connect', function(data) {
    socket.emit('join', 'Hello World from client');
  });

  socket.on('close', function(data) {
    console.log('closing door of metro ' + data);
    $("#metro-" + data).css('background-color', 'green');
    var left = parseInt($("#metro-" + data).css('left'));
    $("#metro-" + data).css('left', left + 50);
  });

  socket.on('open', function(data) {
    console.log('opening door of metro ' + data);
    $("#metro-" + data).css('background-color', 'red');
  });

  socket.on('speed', function(data, phase) {
    color = null;
    switch (phase) {
      case 'acceleration':
        color = 'green';
        break;
      case 'cruise':
        color = '';
        break;
      case 'brake':
        color = 'orange';
        break;
    }
    $("#speed").html(Math.round(data))
    $("#jauge").removeClass().addClass('c100 p' + Math.round((Math.round(data, -1) * 100) / 60, -1) + ' small ' + color);
  })

  socket.on('dist', function(dist, percent) {
    $("#distance").html(Math.round(dist))
    $("#distance-p").html(Math.round(percent))
    $('.progress-bar').css({
      width: Math.round(percent) + "%"
    });
  })

  $("#start").on('click', function() {
    socket.emit('start')
  })

  socket.on('start', function(current, next) {
    $("#currStation").html(current.name)
    $("#nextStation").html(next.name)
  })
</script>