<!doctype html>
<html lang="en">
<link rel="stylesheet" href="/public/css/style.css">

<% include parts/header.ejs %>
<body>
<% include parts/menu.ejs %>
<h1>Liste des stations de la ligne : <%= line.name %></h1>

<% line.stations.forEach(function (station) { %>
    <%= station.name %><br>
<% })%>
<% include parts/footer.ejs %>
</body>
</html>
