<div class="imgdivfooter">
    <img class="imgfooter" src="asset/assets/img/footer.jpg" alt="footer">
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('http://127.0.0.1:8080');
  socket.on('connect', function(data) {
    socket.emit('join', 'Hello World from client');
  });
</script>